*{
    font-family: 'League Spartan', sans-serif;
}

.calcTop h1{
    margin-top: 2.6rem;
    margin-left: 0.25rem;
    font-size: 1.75em;
}

$thumbSize: 0.85rem;

.themeSlider{
    border: none;
    border-radius: 1000px;
    padding: 0.3rem;
    width: 3.5rem;
    height: 0.85rem;
    margin-left: 1rem;
    margin-top: 0.25rem;
}

.themeSlider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: $thumbSize;
    height: $thumbSize;
    border-radius: 50%; 
    border: none;
    cursor: pointer;
}

.themeSlider::-moz-range-thumb {
    width: $thumbSize;
    height: $thumbSize;
    border-radius: 50%;
    background: #04AA6D;
    border: none;
    cursor: pointer;
}

.calcTop{
    display: flex;
    justify-content: space-between;
    margin-top: 3.5rem;
    margin-bottom: 0.5rem;
}

.calcTop h2{
    position: relative;
    bottom: 0;
    right: 0.25rem;
    margin-top: 3.5rem;
    font-size: 0.75em;
}

.calcHolder{
    margin: 0 auto;
    width: 90%;
    max-width: 30rem;
}

.themeHolder{
    display: flex;
    flex-direction: row;
}

.themeHolder h2{
    margin-left: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
}

.themeHolder p{
    width: 100%;
    font-size: 0.75em;
    font-weight: 600;
    margin: 1.5rem auto;
    margin-top: 2rem;
    margin-left: 1.5rem;
    margin-bottom: 0rem;
    letter-spacing: 0.4rem;
}

.numDisplay{
    width: 100%;
    border-radius: 0.625rem;
    margin-bottom: 1.5rem;
    text-align: right;
    padding: 0.1rem 0;
    padding-top: 0.25rem;
}

#numOutput{
    position: relative;
    right: 0;
    margin: 1.5rem;
    font-size: 3em;
    letter-spacing: 0.05rem;
    max-width: 95%;
    text-align: right;
    overflow: auto;
}

.keypad{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 35px;
    border-radius: 0.5rem;
}

.calcKey{
    display: flex;
    flex-grow: 1;
    min-width: 25%;
    max-width: 50%;
    margin-top: 25px;
    height: 3.25rem;
}

.calcKey button{
    border: none;
    width: 100%;
    border-radius: 0.5rem;
    margin: 0 auto;
    margin: 0 0.6rem;
    padding-top: 0.5rem;
    cursor: pointer;
}

.key-1 button{
    font-size: 2.25em;
    font-weight: 600;
}

.key-2 button{
    font-size: 1.5em;
    font-weight: 600;
}

.key-3 button{
    font-size: 1.5em;
    font-weight: 600;
}

.attribution{
    position: relative;
    width: 100%;
    bottom: -3.5rem;
    text-align: center;
}